/*
.DS_Store
.localized
!.gitignore
!.ssh
.ssh/*
!.ssh/config
!.vim
.vim/*
!.vim/colors
.vim/colors/*
!.vim/colors/lucario.vim
!.vscode
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
!.gitconfig
!.gitmessage
!.vimrc
!.zshrc
!install
!lucario.terminal
!README.md
!vscode.code-workspace
