[user]
	email = chris.gerke@gmail.com
	name = Chris

[alias]

	branches = "!git branch -a"
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	branch-push = "!git push -u origin $(git branch-name)"
	branch-push-undo = "!git push origin :$(git branch-name)"

	cleanup-git = !git remote prune origin && git gc && git clean -dfx && git stash clear
	contributors = shortlog --summary --numbered
	current-diff = diff --patch-with-stat
	file-history = log -u
	last-add = diff --cached
	last-add-undo = reset HEAD
	last-commit = diff --cached HEAD^
	log-summary = log --pretty=oneline --graph --abbrev-commit --decorate
	log-detail = log --pretty=oneline --graph --abbrev-commit --decorate --numstat

	remotes = "!git remote -v"
	remote-info = "!git remote show origin"

	# Reset master to match upstream losing any local changes
	# Requires upstream
	# git remote add upstream <URL>
	reset-master-to-upstream = !git fetch upstream && git checkout master && git reset --hard upstream/master
	# git push origin mater --force

	source-controlled-files = !git ls-files

	# git remote add upstream <URL>
	sync-branch-to-master = !git rebase master

	# Sync a repo (master) with its origin (master)
	sync-master-to-origin = !git fetch origin && git merge origin/master

	# Sync a forked repo (master) with its upstream (master)
	# Requires upstream
	# git remote add upstream <URL>
	sync-master-to-upstream = !git checkout master && git fetch upstream && git pull upstream master

[core]
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.gitmessage
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = manager
