/*
.DS_Store
.localized
!.gitignore
!.gitconfig
!.gitmessage
!vscode.code-workspace
!.vscode
.vscode/*
!.vscode/extensions.json
!.ssh
.ssh/*
!.ssh/config
!.vimrc
!.vim
.vim/*
!.vim/colors
.vim/colors/*
!.vim/colors/lucario.vim
!lucario.terminal
!install
!.vscode/tasks.json
